<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Kiem_HL.Properties.Settings.HL_DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\DP_Project\Kiem_HL\Kiem_HL\DB\HL_DB.accdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="ImgFolderPath" value="C:\DP_Project\Kiem_HL\Kiem_HL\img\" />
    <add key="ImgFolderDonePath" value="C:\DP_Project\Kiem_HL\Kiem_HL\img\Done\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ImgFolderArchivePath" value="C:\DP_Project\Kiem_HL\Kiem_HL\img\Archive\" />
    <add key="ErrLogPath" value="C:\DP_Project\Kiem_HL\Kiem_HL\Err\" />
    <add key="ErrLogFile" value="ErrLog.txt" />
	<add key="Contact" value="false" />
	<add key="Phone" value="false" />
	<add key="English" value="false" />
	<add key="BtnTextLocation" value="false" />
	<add key="LocationSubjectVN" value="HL [HoTen]" />
	<add key="LocationMessageViTriHinhVN" value="Hình trên tường bảng: [ViTriHinh]" />
	<add key="LocationMessageViTriCotVN" value="Cốt: [ViTriCot]" />
	<add key="StopMessage" value="\n\nText STOP to stop all SMS" />
	<add key="AnnivSubjectVN" value="Giỗ HL [HoTen] ngày [Tu]" />
	<add key="AnnivMessageVN" value="Xin gọi cho Chùa Diệu Pháp biết để chuẩn bị cơm cúng nếu quý vị đến. Chân thành cảm ơn. (626)614-0566" />
	<!--<add key="AnnivMessageVN" value="Xin gọi cho Chùa Diệu Pháp biết để chuẩn bị cơm cúng nếu quý vị đến. Chân thành cảm ơn. (626)614-0566"/>-->
  <!-- ********** Twilio Account Setup ********** -->
	  <add key="TWILIO_ACCOUNT_SID" value="AC439cf8ef909f50dbed40d19c01ed95dd" />
	  <add key="TWILIO_AUTH_TOKEN" value="42ae7f5593183929f94e7148781821b7" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
	<system.net>
		<mailSettings>
			<smtp from="leanhdao5@gmail.com">
				<network host="smtp.gmail.com" password="adl021Gml" port="587" userName="leanhdao5@gmail.com" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>